@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Raleway:400,600,700,900');

body{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header {
	height: 100%;

	&__top-line {
		justify-content: space-between;
		height: 80px;
		position: fixed;
		width: 100%;
		background: #fff;
		z-index: 99999;
	}

	&__logo {
		font-size: 1.875rem;
		color: #fd5c08;
		text-transform: uppercase;

		span {
			font-size: 0.75rem;
		}
	}

	&__nav {
		padding: 0;
		margin: 0;
		list-style: none;
		height: 100%;

		li {
			display: inline-block;
			line-height: 80px;
			color: #3f3e41;
			transition: all 0.3s ease;
			position: relative;

			// &:last-child a {
			// 	padding-right: 0;
			// }
			&.active {
				background-color: #f65c2c;
				color: #fff;

				&:after {
					content: '';
					position: absolute;
					bottom: -10px;
					left: 0;
					width: 100%;
					height: 0;
					border-style: solid;
					border-width: 10px 92.50px 0 92.5px;
					border-color: #f65c2c transparent transparent transparent;
				}
			}
			&:hover {
				background-color: #f65c2c;
				color: #fff;
				&:after {
					content: '';
					position: absolute;
					bottom: -10px;
					left: 0;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 10px 92.5px 0 92.5px;
					border-color: #f65c2c transparent transparent transparent;
				}
			}

			a {
				text-transform: uppercase;
				text-decoration: none;
				color: inherit;
				font-size: 0.8125rem;
				padding: 18px 50px;
				transition: 0.3s ease;
			}
		}
	}

	&__cont {
		background: url('../img/img.jpg') 50% 50% no-repeat;
		background-size: cover;
		min-height: calc(940px - 80px);
		color: #fff;
		display: flex;
		align-items: center;

		&-dsc {
			width: 50%;
		}

		h1 {
			font-size: 6.25rem;
			margin: 0;
			font-weight: 900;
			text-transform: uppercase;
			text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
		}
		h2 {
			font-size: 2.375rem;
			margin: 0;
			font-weight: 400;
			text-transform: uppercase;
			text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
		}
		p {
			font-size: 1.1875rem;
			line-height: 1.47;
		}
	}
}

.slider__one {
	background: url('../img/bg.jpg') 50% 50% no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 115px 0 calc(115px + 60px);
.ba-container {
	position: relative;
}
	.prev__button, .next__button {
		margin-top: 60px;
		background: #3f3e41;
		max-width: 60px;
		width: 60px;
		height: 60px;
		display: inline-block;
		position: absolute;
		right: 0;
		transition: all 0.3s ease;

		&:hover {
			background: #fd5c08;
		}
	}
	.prev__button {
		right: 60px;
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 3.5px 7px 3.5px 0;
			border-color: transparent #ffffff transparent transparent;
		}
	}
	.next__button {
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 3.5px 0 3.5px 7px;
			border-color: transparent transparent transparent #ffffff;
		}
	}

	.slider__wrap {
		max-width: 900px;
		margin: 0 auto;
		position: relative;
	}

	&-cont {
		// width: 60%;
		margin: 0 auto;
	}

	h3 {
		margin-top: 0;
		margin-bottom: 60px;
		font-family: 'Kaushan Script', cursive;
		font-size: 1.875rem;
		text-transform: capitalize;
		text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
	}
	h2 {
		margin: 0;
		font-size: 2.375rem;
		font-weight: 400;
		text-transform: uppercase;
		text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
	}
	h1 {
		font-size: 6.25rem;
		margin: 0;
		font-weight: 900;
		text-transform: uppercase;
		text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.75);
	}
	p {
		font-size: 1.1875rem;
		line-height: 1.47;
	}

	&-inform {
		width: 95%;
		height: 210px;
		display: flex;
		margin: 0 auto;
		position: relative;

		&__price {
			background-color: #3f3e41;
			width: 30%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			padding-left: 21px;

			span {
				text-transform: uppercase;
				color: #fff;
			}
			.slider__one-price {
				color: #f65d2c;
				font-size: 3.75rem;
				font-weight: 900;
			}
		}
		&__dsc {
			width: 70%;
			background: rgba(255, 255, 255, 0.7);
			text-align: left;
			padding: 40px 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-right: 20%;

			h3 {
				color: #fd5c08;
				font-size: 1.875rem;
				text-transform: uppercase;
				font-family: 'Raleway', sans-serif;
				font-weight: 400;
				margin: 0;
			}
			p {
				margin: 0;
				font-size: 1rem;
				color: #3f3e41;

				span {
					font-weight: 700;
				}
			}
			a {
				font-size: 0.875rem;
				color: #3f3e41;
				text-transform: uppercase;
				text-decoration: none;
			}
		}

		img {
			position: absolute;
			right: 0;
			top: -25%;
		}
	}
}

.findout {
	background: url('../img/layer-18.jpg') 50% 50% no-repeat;
	background-size: cover;
	padding: 124px 0;
	text-align: center;

	h1 {
		font-size: 5rem;
		color: #fd5c08;
		text-transform: uppercase;
		margin: 0;
		font-weight: 900;
	}
	h3 {
		font-size: 2.125rem;
		color: #3f3e41;
		text-transform: uppercase;
		margin: 0;
		font-weight: 400;
	}
}

.slider__two {
	background: url('../img/layer-15.jpg') 50% 50% no-repeat;
	background-size: cover;
	padding: 76px 0 calc(76px + 60px);
	position: relative;

	.slider__date {
		width: 270px;
		height: 270px;
		color: #fff;
		background: #fd5c08;
		padding: 30px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h2 {
			font-size: 2.375rem;
			margin: 0;
		}

		&-date {
			h4 {
				font-weight: 700;
				font-size: 1rem;
				margin: 0;
			}
			h3 {
				margin: 0;
				font-weight: 700;
				font-size: 1.4375;
			}
			span {
				font-size: 0.75;
			}
		}
	}

	&-inform {
		display: flex;
		justify-content: flex-end;
		height: 210px;
		display: flex;
		margin: 0 auto;
		position: relative;
		margin-top: 80px;

		&__price {
			background-color: #3f3e41;
			width: 20%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;
			padding-left: 21px;

			span {
				text-transform: uppercase;
				color: #fff;
			}
			.slider__two-price {
				color: #f65d2c;
				font-size: 3.75rem;
				font-weight: 900;
			}
		}
		&__dsc {
			width: 50%;
			background: rgba(255, 255, 255, 0.7);
			text-align: left;
			padding: 40px 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding-right: 20%;

			h3 {
				color: #fd5c08;
				font-size: 1.875rem;
				text-transform: uppercase;
				font-family: 'Raleway', sans-serif;
				font-weight: 400;
				margin: 0;
			}
			p {
				margin: 0;
				font-size: 1rem;
				color: #3f3e41;

				span {
					font-weight: 700;
				}
			}
			a {
				font-size: 0.875rem;
				color: #3f3e41;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}
	
	.slilder__two-bottom__line {
		background: #fff;
		position: absolute;
		bottom: 0;
		width: 100%;

		.bottom__line-right {
			a {
				margin-right: 60px;
			}
		}

		a {
			display: inline-block;
			text-decoration: none;
			text-transform: uppercase;
			color: #3f3e41;
		}
	}

	.prev__button-bottom, .next__button-bottom {
		background: #3f3e41;
		max-width: 60px;
		width: 60px;
		height: 60px;
		display: inline-block;
		transition: all 0.3s ease;
		position: relative;

		&:hover {
			background: #fd5c08;
		}
	}
	.prev__button-bottom {

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 3.5px 7px 3.5px 0;
			border-color: transparent #ffffff transparent transparent;
		}
	}
	.next__button-bottom {
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 3.5px 0 3.5px 7px;
			border-color: transparent transparent transparent #ffffff;
		}
	}
}

.map {
	height: 600px;
}

.footer {
	background: #fd5c08;
	padding: 75px 0;

	&__left {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				position: relative;

				
				&:after {
						content: '';
						display: block;
						width: 85%;
						height: 0;
						border-left: 43px solid transparent;
						// border-right: 20px solid transparent;
						border-top: 5px solid #fff;
						position: absolute;
						left: 0;
						top: 100%;
					}

				a {
					text-decoration: none;
					color: #fff;
					width: 50px;
					height: 50px;
					background: #545357;
					display: flex;
					align-items: center;
					justify-content: center;

					&:hover {
						background: #fff;
						color: #fd5c08;
					}
				}
			}
			margin-bottom: 40px;
		}
		p {
			font-size: 0.625rem;
			text-transform: uppercase;
			line-height: 1.6;
			font-weight: 400;
			color: #fff;
		}
	}
	&__right {
		width: 60%;
		text-align: right;
		color: #fff;

		h2 {
			text-transform: uppercase;
			font-size: 1.875rem;
		}
		p {
			font-size: 0.625rem;
			text-transform: uppercase;
			line-height: 1.6;
			font-weight: 400;
		}
	}
}

.personally {
	background: url('../img/world-map.svg') 50% 50% no-repeat;
	background-size: cover;
	padding: 120px 0;

	&__h-left {
		h1 {
			color: #fd5c08;
			font-size: 4rem;
			text-transform: uppercase;
			margin: 0;
		}
		h3 {
			color: #3f3e41;
			font-size: 2.1rem;
			text-transform: uppercase;
			margin: 0;
		}
	}
	p {
		font-size: 1.1875rem;
		width: 45%;
	}
}